h1 {
  color: whitesmoke;
  background-color: brown;
  width: 350px;
  padding: 10px;
  padding-left: 40px;
}

.wrapper{
background-color: bisque;
padding: 25px;
width: 600px;
margin-bottom: 25px;
font-size: 20px;
}